body {
    color:pink;
    background: greenyellow;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 228, 57);
    padding: 20px;
    font-size: 32px;
    color: rgb(212, 42, 228);
}

section {
	background: rgb(213, 156, 180);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}